body {
  text-align: center;
}
p {
  display: inline-block;
  font-size: 30px;
  margin: 0;
}
#setTime {
  width: 100;
}
#startTimer {
  display: block;
  margin: 0 auto;
}

/*  チャレンジ問題 */

.slot-wrap {
  height: 160px;
  width: 100px;
  margin: 0 auto;
}

.slot {
  width: 100px;
  height: 40px;
}

/* .upper-slot {
} */

.middle-slot {
  background-color: #ff7f50;
}

/*  チャレンジ問題  ここまで */
